<%- include('../partials/header') %>

<form id="new-form" action="/recipes" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Category:</label>
    <input type="text" name="category">
    <label>Difficulty:</label>
    <select name="difficulty">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label>Ingredients:</label>
    <input type="text" name="quantity">
    <select name="unit">\
        <option value="each">each</option>
        <option value="cups">cups</option>
        <option value="Tbsp">Tbsp</option>
        <option value="tsp">tsp</option>
    </select>
    <input type="text" name="ingredients">
    <input type="submit" value="Add Recipe">
</form>

<%- include('../partials/header') %>